@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato-light;
    src: url(fonts/Lato-Light.ttf);
}
body {
    /*background-color: #FFFFFF;*/
    /*height:83% !important;*/
    font-family:  "Lato","Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;

    background: #f4f4f4;
    /*background: #FCFCFC url(../images/13.jpg) repeat;*/

    margin: 0px;
    padding: 0px;
    color: #555555;
    min-width: 320px;

  }

  /*test change*/



  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  .main.container {
    margin-top: 7em;
  }

  .ember-content-editable:empty {
  color: rgba(0,0,0,0.6);
}

.ui.text.container{
  max-width: 1127px !important;
}

.attached.launch.button {

    top: 96px;
}
.top-bar{
  background: #febe12;
  width:100%;
  height: 50px;
}
.only-print
{
  display: none !important;
}
.lato .item
{
  font-family: Lato-light !important;
  font-size: 0.75rem;
  text-transform: uppercase !important;
}
.lato .item i
{
  font-size: 25px !important;
}

@media print {
  .no-print
  {
    display: none !important;
  }
  .only-print
  {
    display: block !important;
  }
  .print-box
  {
  margin-left: -50px;
  }
  .print-box2
  {
  margin-left: -50px;
  // margin-right: -100px !important;
  width: 108% !important;


  }

}








/*for ember slider */

.ember-image-slider {
	$animation-time: 0.3s;
	// max-width: 66.66%;
	align-items: center;
	margin: 5px auto;
	position: relative;
	// left: -25px;

	.horizontal-grid {
		display: flex;
		flex-flow: row nowrap;
		width: 90vw;
	}

	md-input-container {
		padding: 0;
	}

	.slider-item {
		margin: 10px;
		vertical-align: middle;
		cursor: pointer;
		transform: scale(1);
		transition: $animation-time transform;

		flex:1;



		&::after {
				content: "\e834";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				font-family: 'Material Icons';
				color: transparent;
				font-size: 2em;
				transition: $animation-time color;
		}

		&.picked {

			&::after {
				color: green;
			}

		}

		&.picked img {
			transform: scale(1.1);
		}


		img {
			max-width: 100%;
			transition: 0.3s transform;
			transform: scale(1);
			margin-bottom: 10px;

		}
	}

	&:hover {
		.arrow {
			opacity: 1;
		}
	}

	.arrow {
		$arrow-size: 2em;
		position: absolute;
		top: -10px;
		bottom: 0;
		margin: auto;
		height: 100%;
		font-size: $arrow-size;
		padding: 10px;
		width: $arrow-size / 2;
		text-align: center;
		cursor: pointer;
		opacity: 0;
		transition: $animation-time opacity;

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			content: "";
			display: block;
			font-size: $arrow-size;
			height: 1em;
			font-family: 'Material Icons';
			color: white;
			width: 1em;
			text-align: center;
		}

		&.left {
			background: linear-gradient(to right, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%);
			transition: $animation-time background;
			&::before {
				left: -0.2em;
				content: "\e314";

			}

			&:hover {
				background: linear-gradient(to right, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
			}
		}

		&.right {
			right: 0em;
			background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
			&::before {
				right: -0.2em;
				content: "\e315";
			}

			&:hover {
				background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
			}
		}
	}
}

.grid-wrap {
	width: 100%;
	overflow-x: auto;
}

.content-wrap {
	position: relative;
}

.slider-wrap {
	background: white;
	margin-bottom: 25px;

	.image-selection-label {
		position: relative;
		left: -20px;
	}

	md-input-container {
		padding: 0;
	}
}
.hseg
{
	border: 2px solid #00A1B1 !important;
}
.hseg:hover

{
		border: 2px solid #FDBC11 !important;

}






/* for ember light table */
.spinner {
  margin: 15px auto;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 10px;
}
.spinner > div {
  background-color: #dd6a58;
  height: 100%;
  width: 4px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
.ember-light-table {
  width: 95%;
  margin: 0 auto;
  border-collapse: collapse;
  font-family: 'Open Sans', sans-serif;
}
.ember-light-table .multi-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ember-light-table tfoot .lt-column {
  border-top: 1px solid #DADADA;
}
.ember-light-table thead .lt-column {
  border-bottom: 1px solid #DADADA;
}
.ember-light-table .lt-column {
  font-weight: 200;
  font-size: 12px;
  padding: 10px;
}
.ember-light-table .lt-column .lt-sort-icon {
  width: 15px;
}
.ember-light-table .lt-column.lt-group-column {
  border: none !important;
  padding-bottom: 10px;
}
.ember-light-table .lt-row {
  height: 50px;
}
.ember-light-table .lt-row.is-selected {
  background-color: #DEDEDE !important;
}
.ember-light-table .lt-row:not(.is-selected):hover {
  background-color: #F5F4F4 !important;
}
.ember-light-table .lt-row:last-of-type td {
  border-bottom-width: 0;
}
.ember-light-table .lt-row.lt-expanded-row:hover,
.ember-light-table .lt-row.lt-no-data:hover {
  background-color: transparent !important;
}
.ember-light-table .lt-row.lt-expanded-row td,
.ember-light-table .lt-row.lt-no-data td {
  padding: 15px;
}
.ember-light-table .lt-row td {
  border-color: #DADADA;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  font-size: 13px;
  padding: 0 10px;
}
html,
body {
  min-height: 100%;
  min-width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #F3F3F3;
}
.navbar.navbar-default {
  background-color: white;
  margin: 0;
}
.navbar.navbar-default .navbar-brand {
  color: #797979;
  font-size: 16px;
  font-weight: 400;
}
.navbar.navbar-default .navbar-brand img {
  height: 32px;
  display: inline-block;
  margin-top: -15px;
}
.navbar.navbar-default .navbar-brand span {
  font-size: 12px;
  vertical-align: super;
  text-transform: uppercase;
  color: #444444;
}
.navbar.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  font-weight: 200;
}
.navbar.navbar-default .navbar-nav > li > a.github {
  font-size: 24px;
}
.navbar.navbar-default .navbar-nav > li > a:focus,
.navbar.navbar-default .navbar-nav > li > a:hover {
  color: #dd6a58;
}
.navbar.navbar-default .navbar-nav > .active > a,
.navbar.navbar-default .navbar-nav > .active > a:focus,
.navbar.navbar-default .navbar-nav > .active > a:hover {
  color: #dd6a58;
  background-color: transparent;
}
.panel {
  width: 75%;
  margin: 2.5% auto;
  position: relative;
}
.panel .table-actions {
  position: absolute;
  left: -41px;
  width: 40px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #ccc;
  border-right-width: 0;
  top: 35%;
  cursor: pointer;
}
.panel .table-actions .table-action {
  font-size: 20px;
  text-align: center;
  display: block;
  margin: 10px;
  color: #191919;
  opacity: 0.8;
}
.panel .table-actions .table-action:hover,
.panel .table-actions .table-action:active {
  opacity: 1;
}
.panel .table-actions .table-action.delete {
  color: #dd6a58;
}
.panel .panel-heading {
  background-color: #dd6a58;
  padding: 0;
}
.panel .panel-heading a {
  color: #F9F9F9;
  text-decoration: none;
}
.panel .panel-heading a .panel-title {
  font-weight: 200;
  padding: 15px;
}
.panel .code-snippet {
  background-color: #f8f8f8;
  max-height: 500px;
  overflow: auto;
}
.panel .code-snippet .nav-tabs li > a {
  color: #8A8A8A;
  border-radius: 2px 2px 0 0;
  font-size: 12px;
}
.panel .code-snippet .nav-tabs li.active > a {
  background-color: #f8f8f8;
  color: #696969;
}
.panel .code-snippet .tab-content > .active {
  padding: 15px 15px 0px 15px;
}
.panel .code-snippet pre {
  border: none;
  margin: 0;
  padding: 0;
}
.table-container {
  height: 70vh;
  overflow-y: auto;
}
.table-container.fixed-header {
  overflow-y: hidden;
  margin-bottom: 15px;
}
.user-actions a {
  color: #dd6a58;
  padding-right: 10px;
  font-size: 18px;
  width: 30px;
  text-decoration: none;
  cursor: pointer;
  padding-top: 10px;
}
.user-actions a:hover,
.user-actions a:active,
.user-actions a:focus {
  color: #d95743;
}
.user-avatar {
  border-radius: 50%;
  border: 1px solid #ccc;
}
.tip {
  text-align: center;
  font-size: 13px;
  color: #4E4E4E;
}
.tip .icon-info {
  color: #dd6a58;
  margin-right: 3px;
}
