@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Light.ttf);
}

body {
    /*background-color: #FFFFFF;*/
    /*height:83% !important;*/
    font-family:  "Lato","Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
    // background: #FCFCFC url(../images/bg5.png) repeat;
    background: rgba(245,222,80,0.5);
    margin: 0px;
    padding: 0px;
    color: #555555;
    min-width: 320px;

  }

  /*test change*/



  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  .main.container {
    margin-top: 7em;
  }

  .ember-content-editable:empty {
  color: rgba(0,0,0,0.6);
}

.ui.text.container{
  max-width: 1127px !important;
}

.attached.launch.button {

    top: 96px;
}
.top-bar{
  background: #febe12;
  width:100%;
  height: 50px;
}
