  <div class="ui two column grid">

        <div class="column">
          <div class="ui segment">
            <div class="ui two column grid">
              <div class=" three wide column center aligned ">
              <i class=" huge bar chart   icon"></i>
            </div>
            <div class=" thirteen wide column ">
              <h3 class="ui dividing header">Inventory Report</h3>
              {{link-to   "Inventory Report" "dashboard.reports.inventory" class=" ui tiny right floated inverted green button ember-view"}}
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <div class="ui two column grid">
            <div class=" three wide column ">
            <i class=" huge newspaper  layout icon"></i>
          </div>
          <div class=" thirteen wide column ">
            <h3 class="ui dividing header">Sales Report</h3>
            {{link-to   "Sales Report" "dashboard.reports.sales" class=" ui tiny right floated inverted green button ember-view"}}
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui two column grid">
          <div class=" three wide column ">
          <i class=" huge newspaper  layout icon"></i>
        </div>
        <div class=" thirteen wide column ">
          <h3 class="ui dividing header">Purchase Report</h3>
          {{link-to   "Inventory Report" "dashboard.reports.purchaseorders" class=" ui tiny right floated inverted green button ember-view"}}
        </div>
      </div>
    </div>
  </div>
<!-- 
  <div class="column">
    <div class="ui segment">
      <div class="ui two column grid">
        <div class=" three wide column ">
        <i class=" huge newspaper  layout icon"></i>
      </div>
      <div class=" thirteen wide column ">
        <h3 class="ui dividing header">Tools Report</h3>
        {{link-to   "Tools Report" "dashboard.reports.tools" class=" ui tiny right floated inverted green button ember-view"}}
      </div>
    </div>
  </div>
</div> -->




  </div>
