<h2 class="ui  left dividing floated header ">Reports</h2 >
  <div class="ui four column grid">




        <div class="column">
          <div class="ui fluid card">
            <div class="image">
              <i class=" massive newspaper red layout icon"></i>

            </div>
            <div class="content">

              {{link-to   "Inventory Report" "dashboard.reports.inventory" class=" ui tiny right floated inverted green button ember-view"}}
            </div>
          </div>
        </div>
    <div class="column">
      <div class="ui fluid card">
        <div class="image">
          <i class=" massive newspaper red layout icon"></i>

        </div>
        <div class="content">






          {{link-to   "Sales Report" "dashboard.reports.sales" class=" ui tiny right floated inverted green button ember-view"}}

        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui fluid card">
        <div class="image">
          <i class=" massive newspaper red layout icon"></i>
        </div>
        <div class="content">
          {{link-to   "Inventory Report" "dashboard.reports.purchaseorders" class=" ui tiny right floated inverted green button ember-view"}}

        </div>
      </div>
    </div>


  </div>
