

<div class="ui one column grid">
  <div class="ten wide column centered">
{{#slick-slider autoplay=true arrows=true centerPadding=50px  centerMode=true adaptiveHeight=true   slidesToShow=1 slidresponsive=breakpoints dots=true centerMode=true   speed=300 }}
  <div class="box"> <img src="images/sliderimages/img5.png"> </div>
  <div class="box"> <img src="images/sliderimages/img4.gif"> </div>
  <div class="box"> <img src="images/sliderimages/img3.jpg"> </div>
  <div class="box"> <img src="images/sliderimages/img2.gif"> </div>
  <div class="box"> <img src="images/sliderimages/img1.jpg"> </div>
{{/slick-slider}}
</div>
</div>
