<div class="ui  vertical masthead center aligned segment">


<img src="images/13.png" height="100px">
<h1 class="ui header">-Inventory Management Portal-</h1>
<div class="ui left aligned grid" style="margin-left:50px">
  <div class="five wide column ">
    <div class="ui segment grid">
      <div class="four wide column ">
        <i class="huge block  layout icon" ></i>
      </div>
      <div class="twelve wide column ">
      <h3 class="ui dividing header"style="margin-bottom:5px ">Inventory</h3>
    </div>
    </div>
    </div>
  <div class="five wide column ">
    <div class="ui segment grid">
      <div class="four wide column ">
        <i class="huge users   icon" ></i>
      </div>
      <div class="twelve wide column ">
      <h3 class="ui dividing header"style="margin-bottom:5px ">Relations</h3>
    </div>
    </div>
  </div>
  <div class="five wide column ">
    <div class="ui segment grid">
      <div class="four wide column ">
        <i class="huge suitcase   icon" ></i>
      </div>
      <div class="twelve wide column ">
      <h3 class="ui dividing header"style="margin-bottom:5px ">Stock Control</h3>
    </div>
    </div>

  </div>
</div>
<div class="ui left aligned grid" style="margin-left:50px">

  <div class="two wide column ">
  </div>
  <div class="five wide column ">
    <div class="ui segment grid">
      <div class="four wide column ">
        <i class="huge newspaper   icon" ></i>
      </div>
      <div class="twelve wide column ">
      <h3 class="ui dividing header"style="margin-bottom:5px ">Orders</h3>
      <p>sfdgfgs udhfgudshg  hgfhdf gd ghkdhg</p>
    </div>
    </div>
  </div>
  <div class="one wide column ">
  </div>
  <div class="five wide column ">
    <div class="ui segment grid">
      <div class="four wide column ">
        <i class="huge bar chart   icon" ></i>
      </div>
      <div class="twelve wide column ">
      <h3 class="ui dividing header"style="margin-bottom:5px ">Reports</h3>
    </div>
    </div>
  </div>
  </div>
</div>
