<div class="ui  vertical masthead center aligned segment">


<!-- <img src="images/logo.png" height="100px"> -->

<img src="images/curargratis-title.png" >
<h1 class="ui header" style="font-weight: 300;text-transform: uppercase;font-size: 20px;letter-spacing: 3px;">-Inventory Management Portal-</h1>
<div class="ui clearing divider"></div>
<div class="ui center aligned grid" >
  <div class="eight wide column ">

    {{#link-to 'dashboard.inventory.index'}}
    <div class="ui left aligned segment grid hseg">
      <div class="four wide center aligned column ">
        <i class="huge grey block  layout icon" style="padding-top:10px;color:#33b8d7 !important" ></i>
      </div>
      <div class="twelve wide column ">
      <h3 class="ui dividing header"style="margin-bottom:5px ">Inventory</h3>
      <p style="color:#545">Manage Stock and Inventory</p>
    </div>
    </div>
    {{/link-to}}
    </div>
  <div class="eight wide column ">
    {{#link-to 'dashboard.relations.suppliers.index'}}
    <div class="ui left aligned segment grid hseg">
      <div class="four wide center aligned column ">
        <i class="huge grey users   icon" style="padding-top:10px;color:#33b8d7 !important"></i>
      </div>
      <div class="twelve wide column ">
      <h3 class="ui dividing header"style="margin-bottom:5px ">Department</h3>
      <p style="color:#545">Manage your Department</p>
    </div>
    </div>
    {{/link-to}}
  </div>




  <div class="eight wide column ">
    {{#link-to 'dashboard.orders.index'}}
    <div class="ui left aligned segment grid hseg">
      <div class="four wide column ">
        <i class="huge  newspaper   icon"style="padding-top:10px;color:#33b8d7 !important" ></i>
      </div>
      <div class="twelve wide column ">
      <h3 class="ui dividing header"style="margin-bottom:5px ">Order</h3>
      <p style="color:#545">Manage your Sales Order</p>
    </div>
    </div>
    {{/link-to}}
  </div>

  <div class="eight wide column ">
    {{#link-to 'dashboard.reports.index'}}
    <div class="ui left aligned segment grid hseg">
      <div class="four wide column ">
        <i class="huge  bar chart icon"style="padding-top:10px;color:#33b8d7" ></i>
      </div>
      <div class="twelve wide column ">
      <h3 class="ui dividing header"style="margin-bottom:5px ">Report</h3>
      <p style="color:#545">Generate Report</p>
    </div>
    </div>
    {{/link-to}}
  </div>
  </div>



</div>
