<h2 class="ui  left  floated header ">Orders</h2 >
  {{link-to  "New Order" 'dashboard.orders.new' class=" ui tiny right floated inverted green button" }}
  <div class="ui clearing divider"> </div>
{{outlet}}
