<div class="ui bottom attached tab segment active" data-tab="first">
  <h2 class="ui dividing header">Tools</h2>
  {{models-table
    data=tools
    columns=toolColumns
    customMessages=customMessages
    useFilteringByColumns=false
    showColumnsDropdown=false
    useNumericPagination=true
    filteringIgnoreCase=true
   }}
 </div>
