<h2 class="ui dividing header">Products</h2>

{{link-to  "New Supplier" 'dashboard.relations.suppliers.new' class="ui tiny right floated primary button" }}
{{link-to  "New Customer" 'dashboard.relations.customers.new' class="ui tiny right floated primary button" }}

<div class="ui top attached tabular menu">
  <a class="item  active" data-tab="first">Suppliers</a>
  <a class="item " data-tab="second">Customers</a>

</div>
<div class="ui bottom attached tab segment active" data-tab="first">
  <h2 class="ui dividing header">Suppliers </h2>
  {{models-table
    data=suppliers
    columns=supplierColumns
    customMessages=customMessages
    useFilteringByColumns=true
    showColumnsDropdown=false
    useNumericPagination=true
    filteringIgnoreCase=true
   }}
</div>
<div class="ui bottom attached tab segment" data-tab="second">
  <h2 class="ui dividing header">Customers</h2>
  {{models-table
    data=customers
    columns=customerColumns
    customMessages=customMessages
    useFilteringByColumns=true
    showColumnsDropdown=false
    useNumericPagination=true
    filteringIgnoreCase=true
   }}
</div>








<script>
$('.menu .item')
  .tab()
;
</script>
ap
