<div class="ui tabular menu no-print" style="margin:0">
  {{link-to  "Purchase Orders" 'dashboard.stockcontrol.purchaseorders.index' class=" item" }}
  {{link-to  "Stock Adjustments" 'dashboard.stockcontrol.stockadjustments.index' class="item"  }}
</div>
<div class="ui bottom attached tab segment active " data-tab="second">
  <h2 class="ui dividing header">Stock Adjustments</h2>
  {{models-table
    data=stockadjustments
    columns=stockadjustmentColumns
    customMessages=customMessages
    useFilteringByColumns=false
    showColumnsDropdown=false
    useNumericPagination=true
    filteringIgnoreCase=true
   }}
</div>
