


<div  class="clearfix"style="margin-bottom:10px"></div>
<div class="ui top attached tabular menu">
  <a class="item active" data-tab="first">All Products</a>
  <a class="item " data-tab="first">Air Condition</a>
  <a class="item " data-tab="first">Bulb</a>
  <a class="item " data-tab="first">Carpentary</a>
  <a class="item " data-tab="first">Other</a>
  <a class="item " data-tab="first">Paint</a>
  <a class="item " data-tab="first">Stationary</a>
  <a class="item " data-tab="first">Tools</a>
  <a class="item " data-tab="first">Wood</a>
  <a class="item " data-tab="first">Electrical</a>
  <a class="item " data-tab="first">Plumbing</a>

  <!-- <a class="item" data-tab="second">Stock Adjustments</a> -->
</div>


<div class="ui bottom attached tab segment active" data-tab="first">
  <!-- {{input type="text" value=searchTerm}} -->
  {{models-table
    data=products
    columns=columns
    customMessages=customMessages
    useFilteringByColumns=false
    showColumnsDropdown=false
    useNumericPagination=true
    filteringIgnoreCase=true
   }}


   <!-- {{#each matchingProducts as |product|}}
{{product.itemcode}}
   {{/each}} -->
</div>
