<h2 class="ui dividing header">Products</h2>
{{link-to  "New Product" 'dashboard.inventory.new' class="ui tiny right floated primary button" }}
<br><br>



<div class="ui bottom attached tab segment active ">
  {{models-table
    data=products
    columns=columns
    customMessages=customMessages
    useFilteringByColumns=true
    showColumnsDropdown=false
    useNumericPagination=true
    filteringIgnoreCase=true
   }}
</div>



{{outlet}}

<script>
$('.menu .item')
  .tab()
;
</script>
{{outlet}}
