


<div class="clearfix"style="margin-bottom:10px"></div>

<div class="ui bottom attached tab segment active "style="background:rgba(256,256,256,0.7)">
  {{models-table
    data=products
    columns=columns
    customMessages=customMessages
    useFilteringByColumns=false
    showColumnsDropdown=false
    useNumericPagination=true
    filteringIgnoreCase=true
   }}
</div>
