<h2 class="ui dividing header">Products</h2>

<br><br>

 {{link-to  "New Product" 'dashboard.inventory.new' class=" ui tiny right floated inverted green button" }}


<div class="clearfix"style="margin-bottom:10px"></div>

<div class="ui bottom attached tab segment active "style="background:rgba(256,256,256,0.7)">
  {{models-table
    data=products
    columns=columns
    customMessages=customMessages
    useFilteringByColumns=true
    showColumnsDropdown=false
    useNumericPagination=true
    filteringIgnoreCase=true
   }}
</div>
