<div class="ui left visible inverted vertical  thin sidebar labeled icon menu"style="width:90px; background: rgba(5,5,5,0.85) ">

  {{#link-to 'dashboard.inventory.index'  class="item"}}
    <i class="block layout icon"></i>
    Inventory
  {{/link-to}}

  {{#link-to 'dashboard.relations.index'  class="item"}}
    <i class="block layout icon"></i>
    Relations
  {{/link-to}}

  <a class="item" {{action "logout"}}>
    <i class="sign out icon" ></i>
    Logout
  </a>

</div>
<div class="pusher">
  <div class="ui segment basic  ">
{{outlet}}
</div>
</div>
